@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';


@theme {
    --font-primary: "Inter", "sans-serif";
    --color-primary: #58DAD4;
    --color-secondary: #1B3556;
    --color-background: #0F172A;

    --animate-slide: slide 0.2s ease-in-out 1;
    @keyframes slide {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(20px);
        }
        51% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

::-moz-selection { /* Code for Firefox */
    @apply text-black bg-primary;
}

::selection {
    @apply text-black bg-primary;
}


/* 
    Header
*/

/* Social */
.social-icons {
    @apply flex gap-4 mt-4 mb-4 md:mb-0 xl:mt-8 text-slate-400;
}

.social-icons a {
    @apply transition-colors duration-200;
}

.social-icons a:hover {
    @apply text-slate-200;
}

.personal-info a:hover {
    @apply underline text-slate-200;
}


/* Navbar  */
.nav li {
    @apply flex;
}

.nav .nav-link {
    @apply flex items-center gap-2 text-slate-400 hover:text-slate-200 focus-visible:text-slate-200 py-3;
}


.nav .nav-link .nav-indicator {
    @apply mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none;
}

.nav .nav-link .nav-text {
    @apply text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200;
}

.nav .active {
    @apply text-slate-200 ;
}

.nav .active .nav-indicator {
    @apply w-16 bg-slate-200 transition-none;
}

.nav .active .nav-text {
    @apply text-slate-200;
}

.cv-btn:hover svg {
    @apply animate-slide;
}


/* 
    Main
*/

.title {
    @apply text-3xl font-semibold text-slate-200 mb-4 flex relative items-center;
}

.title span {
    @apply text-primary font-medium me-4 font-mono;
}

.title::after {
    content: "";
    @apply relative ms-6 w-60 h-px bg-slate-500/40 rounded-full md:block hidden;
}

/* Experience */
.custom-block {
    @apply md:flex gap-8 items-start mt-6 md:mt-0 md:p-6  border-t-1 border-white/0 transition-all duration-200 mb-4;
}

.custom-block p span {
    @apply text-slate-300;
}

.custom-block h5 {
    @apply transition-all duration-200;
}

.custom-block svg {
    @apply transition-transform duration-200;
}

.custom-block:hover {
    @apply isolate rounded md:bg-white/4 md:shadow-lg md:ring-2 md:ring-white/5 md:border-white/5;
}

.custom-block:hover h5 {
    @apply text-primary;
}

.custom-block:hover h5 svg {
    @apply translate-x-1 -translate-y-1;
}

.custom-block .tag, .project .tag {
    @apply text-primary bg-secondary/70 px-3 py-1 rounded-full text-xs leading-5 font-medium;
}

/* Projects */
.project {
    @apply md:grid grid-cols-11 gap-2 grid-rows-1 relative;
}

.project .image {
    @apply col-start-1 col-end-7 z-10 relative cursor-pointer hidden md:block;
}

.project .text-container {
    @apply col-start-5 col-end-12 z-20 md:absolute text-end top-1/2 -translate-y-1/2;
}

.project .text {
    @apply bg-secondary p-4 rounded shadow-lg text-slate-300/80;
}

.project img {
    @apply transition-all duration-200 h-[22rem] object-cover;
}

.project:hover img {
    @apply border-slate-200;
}

.project .text-container span {
    @apply text-slate-300;
}

.project-reversed .image {
    @apply col-start-5 col-end-12;
}

.project-reversed .text-container {
    @apply col-start-1 col-end-7 text-start;
}

/* 
    Scrollbar
*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1E2436;
    border: #333748 1px solid;
    padding: 2px 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}